<img src="img/insight.svg" style="width: 300px"><br>
<font color='#544640'>
<center><i>Engineering Summit 2019</i></center>
<center><i>Denver, Colorado</i></center></font>

# <font color="#D21087">Working with Files</font>

<font color='#544640'>In this notebook we'll work with some simple file manipulation; opening them, reading data, and writing it back to disk.</font>

<br><br><font color="#B81590">$$\large-\infty-$$</font><br><br>

### <font color="#D21087">Basic Directory Stuff</font>

<font color='#544640'>Python can tell you about the current working directory and the files therein. This is pretty handy. For example, you can iterate through them and perform actions depending on the type of file, or file name, etc.</font>

In [53]:
import os

os.listdir('./samplefiles/')

['.DS_Store', 'example.xlsx', 'output.xlsx', '~$output.xlsx', 'text.txt']

### <font color="#D21087">Text Files</font>

<font color='#544640'>We'll open two files, an Excel (.xlsx) and a text file.

we'll use the built-in `open()` command. This takes a filename and a flag:

* `'r'` read only
* `'r+'` read and write
* `'rb'` read only (binary)
* `'rb+'` read and write (binary)
* `'w'` write only
* `'a'` append

Note: the `+` indicates the file will be created if it doesn't exist.

Regarding the next cell: The `%%` symbol below is not python - it's a [Jupyter magic command](https://ipython.readthedocs.io/en/stable/interactive/magics.html). This cell sets up our test file.</font>

In [28]:
%%writefile './samplefiles/text.txt'
hello!
line two!
line three!
line four!
when is lunch??

Overwriting ./samplefiles/text.txt

In [29]:
# opening a text file with read-only privs

text_file1 = open('./samplefiles/text.txt', 'r') # r = read only

print('contents:\n')
for line in text_file1.readlines():
    print('   ',line)
    
if text_file1.closed:
    print('\ntext_file2 is closed')
else:
    print('\ntext_file2 is still open')

text_file1.close()

contents:

    hello!

    line two!

    line three!

    line four!

    when is lunch??


text_file2 is still open

<font color='#544640'>There's a better way to open files. If you open files using the above method and forget to `close()` them, it may take some time for python to clean up the open file (i.e. it will stay open). It is easy to forget to `close()` a file when you are done.</font>

In [30]:
# opening a text file with read-only privs
# the fancy way

with open('./samplefiles/text.txt', 'r') as text_file2:
    print('contents:\n')
    for line in text_file2.readlines():
        print('   ',line)

# file is automatically closed when the block ends

if text_file2.closed:
    print('\ntext_file2 is closed')
else:
    print('\ntext_file2 is still open')

contents:

    hello!

    line two!

    line three!

    line four!

    when is lunch??


text_file2 is closed

Let's add a line to this file.</font>

In [31]:
text_file3 = open('./samplefiles/text.txt', 'a+') #append and read
    
for i in range(6,10):
    text_file3.write('line number ' + str(i) + '\n')

# readlines uses a 'cursor' to keep track of where it left off
# go back to the beginning of the file
text_file3.seek(0)
    
for line in text_file3.readlines():
    print(line)

hello!

line two!

line three!

line four!

when is lunch??

line number 6

line number 7

line number 8

line number 9

<font color='#544640'>Let's modify the fifth line.</font>

In [32]:
with open('./samplefiles/text.txt', 'r') as file:
    file_data = file.readlines()

# access the 5th line of file_data
file_data[4] = '(this is line number 5)\n'

# and write everything back
text_file4 = open('./samplefiles/text.txt', 'w+')

text_file4.writelines(file_data)
text_file4.close()

print('updated contents:\n')
with open('./samplefiles/text.txt', 'r') as text_file4:
    for line in text_file4.readlines():
        print('   ',line)

updated contents:

    hello!

    line two!

    line three!

    line four!

    (this is line number 5)

    line number 6

    line number 7

    line number 8

    line number 9

<br><br><font color="#B81590">$$\large-\infty-$$</font><br><br>

### <font color="#D21087">Excel Files</font>

<font color='#544640'>We'll now open an Excel (.xlsx) containing some information about an environment in two different tabs.

We're going to use `pandas`, a very powerful data science and data manipulation library that can handle large amounts of multidimensional "panel data" (hence the name) efficiently. It is generally used for data science and computing applications.

It's also convenient for accessing and handling tabular data. There are *many* libraries that can handle Excel files, `pandas` is only one. `pandas` comes with some caveats (and limitations) that we won't go into here, related to it's original intended use; i.e. it is definitely not just a 'excel reader' library!

Side note: `pandas` objects are called `dataframes`, much like R's native data structure and are very similar.

For our purposes, here is the relevant doc:

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html</font>

In [33]:
import pandas as pd

data = pd.read_excel('./samplefiles/example.xlsx', sheet_name = None)

<font color='#544640'>That was easy. When we specify sheet_name, we can do so using  `pd.read_excel` returns a `dict` whose key values are the names of the sheets in the `xlsx` document.</font>

In [34]:
list(data.keys())

['server_inventory', 'network_inventory']

In [35]:
data['server_inventory']

     Hostname            IP          Type       Owner   Status
0   Server001    10.20.0.11      UCS C220      jbozic   ACTIVE
1   Server002    10.20.0.12      UCS C220      jbozic   ACTIVE
2   Server003    10.20.0.13      UCS C220      jbozic  RETIRED
3   Server004    10.20.0.14      UCS C220      jbozic  RETIRED
4   Server005    10.20.0.15  HPE ProLiant      jbozic   ACTIVE
5   Server006    10.20.0.16  HPE ProLiant      jbozic   ACTIVE
6   Server007    10.20.2.59      whitebox  jorlandini   ACTIVE
7   Server008    10.20.2.98      whitebox  jorlandini   ACTIVE
8    DGX-2-01  172.16.66.11    nVidia DGX  jorlandini   ACTIVE
9    DGX-2-02  172.16.66.12    nVidia DGX  jorlandini   ACTIVE
10   DGX-2-03  172.16.66.13    nVidia DGX  jorlandini   ACTIVE

In [36]:
data['network_inventory']

        Subnet           Mask  VLAN       Name Location
0    10.20.0.0  255.255.255.0   200    Servers    Tempe
1    10.20.2.0  255.255.254.0   202        Lab    Tempe
2  172.16.66.0  255.255.255.0  1666  ServersML   Mordor

<font color='#544640'>We can access a particular column or row of a `pandas` dataframe using indices, as we learned with lists.</font>

In [37]:
type(data['server_inventory'])

pandas.core.frame.DataFrame

In [38]:
# this is easier to type
df1 = data['server_inventory']

# .loc[i] returns the ith row
df1.loc[0]

Hostname     Server001
IP          10.20.0.11
Type          UCS C220
Owner           jbozic
Status          ACTIVE
Name: 0, dtype: object

In [39]:
# accessing a data frame like a dict ['colname'] returns a column
df1['IP']

0       10.20.0.11
1       10.20.0.12
2       10.20.0.13
3       10.20.0.14
4       10.20.0.15
5       10.20.0.16
6       10.20.2.59
7       10.20.2.98
8     172.16.66.11
9     172.16.66.12
10    172.16.66.13
Name: IP, dtype: object

<font color='#544640'>Great, how about a specific element?</font>

In [40]:
# we can refer to the 3rd row of a specified column

print(df1['IP'][3])

10.20.0.14

In [41]:
# or we can refer to the IP 'field' of the 3rd column, which is the same element

print(df1.loc[3].IP)

10.20.0.14

<font color='#544640'>What if it was a gigantic excel file that we couldn't directly view and read, and we only wanted to find `jbozic`'s servers? Using `pandas` takes a bit of explanation.

Below we are creating a list of boolean (true/false) values based on comparing the column `Owner` to `'jbozic'`.</font>

In [42]:
df1.Owner == 'jbozic'

0      True
1      True
2      True
3      True
4      True
5      True
6     False
7     False
8     False
9     False
10    False
Name: Owner, dtype: bool

<font color='#544640'>We can use that list of true/false values as flags to access particular rows of the dataframe:</font>

In [43]:
df1[df1.Owner == 'jbozic']

    Hostname          IP          Type   Owner   Status
0  Server001  10.20.0.11      UCS C220  jbozic   ACTIVE
1  Server002  10.20.0.12      UCS C220  jbozic   ACTIVE
2  Server003  10.20.0.13      UCS C220  jbozic  RETIRED
3  Server004  10.20.0.14      UCS C220  jbozic  RETIRED
4  Server005  10.20.0.15  HPE ProLiant  jbozic   ACTIVE
5  Server006  10.20.0.16  HPE ProLiant  jbozic   ACTIVE

In [44]:
df1[df1.Owner == 'jorlandini']

     Hostname            IP        Type       Owner  Status
6   Server007    10.20.2.59    whitebox  jorlandini  ACTIVE
7   Server008    10.20.2.98    whitebox  jorlandini  ACTIVE
8    DGX-2-01  172.16.66.11  nVidia DGX  jorlandini  ACTIVE
9    DGX-2-02  172.16.66.12  nVidia DGX  jorlandini  ACTIVE
10   DGX-2-03  172.16.66.13  nVidia DGX  jorlandini  ACTIVE

<font color='#544640'>Note the indices are preserved. That's because `pandas` assumed we wanted it to create the indices for us. We could have used the Hostname as our index instead, which would make our `loc` usage a bit more clear:</font>

In [45]:
import pandas as pd

data2 = pd.read_excel('./samplefiles/example.xlsx', sheet_name = None, index_col=0)

In [46]:
data2['server_inventory']

                     IP          Type       Owner   Status
Hostname
Server001    10.20.0.11      UCS C220      jbozic   ACTIVE
Server002    10.20.0.12      UCS C220      jbozic   ACTIVE
Server003    10.20.0.13      UCS C220      jbozic  RETIRED
Server004    10.20.0.14      UCS C220      jbozic  RETIRED
Server005    10.20.0.15  HPE ProLiant      jbozic   ACTIVE
Server006    10.20.0.16  HPE ProLiant      jbozic   ACTIVE
Server007    10.20.2.59      whitebox  jorlandini   ACTIVE
Server008    10.20.2.98      whitebox  jorlandini   ACTIVE
DGX-2-01   172.16.66.11    nVidia DGX  jorlandini   ACTIVE
DGX-2-02   172.16.66.12    nVidia DGX  jorlandini   ACTIVE
DGX-2-03   172.16.66.13    nVidia DGX  jorlandini   ACTIVE

<font color='#544640'>Now we can access rows by the server name:</font>

In [47]:
df2 = data2['server_inventory']
df2.loc['Server006']

IP          10.20.0.16
Type      HPE ProLiant
Owner           jbozic
Status          ACTIVE
Name: Server006, dtype: object

<font color='#544640'>Or by subnet!</font>

In [48]:
data2['network_inventory'].loc['10.20.0.0']

Mask        255.255.255.0
VLAN                  200
Name              Servers
Location            Tempe
Name: 10.20.0.0, dtype: object

<font color='#544640'>If we want to make a new element of the df, we insert it using its new (unique) index. Since we're using hostnames now, it looks like this:</font>

In [49]:
df2.loc['Server009'] = ['10.20.0.17','HPE ProLiant', 'ckapusta','STAGING']
df2

                     IP          Type       Owner   Status
Hostname
Server001    10.20.0.11      UCS C220      jbozic   ACTIVE
Server002    10.20.0.12      UCS C220      jbozic   ACTIVE
Server003    10.20.0.13      UCS C220      jbozic  RETIRED
Server004    10.20.0.14      UCS C220      jbozic  RETIRED
Server005    10.20.0.15  HPE ProLiant      jbozic   ACTIVE
Server006    10.20.0.16  HPE ProLiant      jbozic   ACTIVE
Server007    10.20.2.59      whitebox  jorlandini   ACTIVE
Server008    10.20.2.98      whitebox  jorlandini   ACTIVE
DGX-2-01   172.16.66.11    nVidia DGX  jorlandini   ACTIVE
DGX-2-02   172.16.66.12    nVidia DGX  jorlandini   ACTIVE
DGX-2-03   172.16.66.13    nVidia DGX  jorlandini   ACTIVE
Server009    10.20.0.17  HPE ProLiant    ckapusta  STAGING

<font color='#544640'>`pandas` can do a lot more - sort values, insert, remove, merge, append, split, etc. More than we have time for!

For now, let's figure out how to put all this back into an Excel file.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_excel.html</font>

In [50]:
# the updates we made were to the first sheet, currently stored in 'df2'
# but let's not forget about our second sheet!

# for more than one sheet we'll need an ExcelWriter object.

with pd.ExcelWriter('./samplefiles/output.xlsx') as writer:
    df2.to_excel(writer, sheet_name='server_inventory')
    data2['network_inventory'].to_excel(writer, sheet_name='network_inventory')

In [51]:
os.listdir('./samplefiles/')

['.DS_Store', 'example.xlsx', 'output.xlsx', '~$output.xlsx', 'text.txt']

In [52]:
# ignore hidden files

[f for f in os.listdir('./samplefiles/') if not f.startswith('.')]

['example.xlsx', 'output.xlsx', '~$output.xlsx', 'text.txt']